<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>これはテストです</title>
    <h1>DeveloperSecureServer</h1>
</head>
<body>
!!!{{ Title }} *** {{ time }}
<link href="Style.css" rel="stylesheet">
<table>
    <tr><td>福岡県福岡市博多区の天気</td><td>今の天気</td><td>2時間後の天気</td><td>明日の天気</td><td>備考</td></tr>
    <tr><p><td>福岡市</td></p><td>晴れ</td><td>曇り</td><td>曇り</td><td>N/A</td></tr>
    <tr><p><td>北九州市</td></p><td>曇り</td><td>曇り</td><td>雨</td><td>N/A</td></tr>
    <tr><p><td>久留米市</td></p><td>雨</td><td>雨</td><td>雨</td><td>突風注意</td></tr>
</table>
</body>
</html>